src/flows/Approve_Overdraft-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_Overdraft</name>
        <label>Approve Overdraft</label>
        <locationX>686</locationX>
        <locationY>447</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Submit</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>varLimit</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutpustStatus</assignToReference>
            <name>instanceStatus</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>CheckAccountType</name>
        <label>CheckAccountType</label>
        <locationX>369</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Debit_acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_for_overdraft_limit</targetReference>
            </connector>
            <label>Debit acc</label>
        </rules>
        <rules>
            <name>Credit_bank_acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit</targetReference>
            </connector>
            <label>Credit acc</label>
        </rules>
    </decisions>
    <interviewLabel>Approve Overdraft {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Overdraft</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Current_Bank_acc</name>
        <label>Current Bank acc</label>
        <locationX>183</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </filters>
        <object>Bank_account__c</object>
        <outputAssignments>
            <assignToReference>varAccType</assignToReference>
            <field>Account_type__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Credit</name>
        <label>Credit</label>
        <locationX>377</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Credit_acc</name>
            <fieldText>Only debit bank account can approved</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_overdraft_limit</name>
        <label>Screen for overdraft limit</label>
        <locationX>542</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approve_Overdraft</targetReference>
        </connector>
        <fields>
            <name>Label_limit</name>
            <fieldText>Input your overdraft limit</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Limit_overdraft</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varLimit</elementReference>
            </defaultValue>
            <fieldText>Limit overdraft</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>3</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit</name>
        <label>Submit</label>
        <locationX>943</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Submit_to_approve</name>
            <fieldText>Submit to approve</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Current_Bank_acc</startElementReference>
    <variables>
        <name>OutpustStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLimit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
</Flow>
