src/flows/Block_Bank_Acc_and_Cards-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_ready_coll</name>
        <label>Create ready coll</label>
        <locationX>968</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>FinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCardItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopForCards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateActiveCards</name>
        <label>UpdateActiveCards</label>
        <locationX>832</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>LoopCardItem.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCardItem.Bank_account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ready_coll</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Block Bank Acc and Cards {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Block Bank Acc and Cards</label>
    <loops>
        <name>LoopForCards</name>
        <label>LoopForCards</label>
        <locationX>642</locationX>
        <locationY>382</locationY>
        <assignNextValueToReference>LoopCardItem</assignNextValueToReference>
        <collectionReference>CollectionCards</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateActiveCards</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCards</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllCards</name>
        <label>GetAllCards</label>
        <locationX>470</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopForCards</targetReference>
        </connector>
        <filters>
            <field>Bank_account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </filters>
        <object>Plastic_card__c</object>
        <outputReference>CollectionCards</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bank_account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetBankAcc</name>
        <label>GetBankAcc</label>
        <locationX>174</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Non_active_Bank_Acc</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </filters>
        <object>Bank_account__c</object>
        <outputAssignments>
            <assignToReference>varIdBankAcc.Active__c</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Non_active_Bank_Acc</name>
        <label>Non-active Bank Acc</label>
        <locationX>312</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>GetAllCards</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Bank_account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCards</name>
        <label>UpdateCards</label>
        <locationX>790</locationX>
        <locationY>504</locationY>
        <inputReference>FinalCollection</inputReference>
    </recordUpdates>
    <startElementReference>GetBankAcc</startElementReference>
    <variables>
        <name>CollectionCards</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Plastic_card__c</objectType>
    </variables>
    <variables>
        <name>FinalCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plastic_card__c</objectType>
    </variables>
    <variables>
        <name>LoopCardItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Plastic_card__c</objectType>
    </variables>
    <variables>
        <name>varId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIdBankAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bank_account__c</objectType>
    </variables>
</Flow>
