src/flows/Reissue_Plastic_Card-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>newExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1000</expression>
    </formulas>
    <interviewLabel>Reissue Plastic Card {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reissue Plastic Card</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Transa</name>
        <label>New Transa</label>
        <locationX>686</locationX>
        <locationY>230</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>varCard.Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card__c</field>
            <value>
                <elementReference>varNewCard</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation_Type__c</field>
            <value>
                <stringValue>Replenishment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Reissue_card</name>
        <label>Reissue card</label>
        <locationX>493</locationX>
        <locationY>229</locationY>
        <assignRecordIdToReference>varNewCard</assignRecordIdToReference>
        <connector>
            <targetReference>New_Transa</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_account__c</field>
            <value>
                <elementReference>varCard.Bank_account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_end_date__c</field>
            <value>
                <elementReference>newExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Plastic_card__c</object>
    </recordCreates>
    <recordLookups>
        <name>Current_Card</name>
        <label>Current Card</label>
        <locationX>266</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reissue_card</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCardId</elementReference>
            </value>
        </filters>
        <object>Plastic_card__c</object>
        <outputAssignments>
            <assignToReference>varCard.Active__c</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCard.Balance__c</assignToReference>
            <field>Balance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCard.Bank_account__c</assignToReference>
            <field>Bank_account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCard.Card_end_date__c</assignToReference>
            <field>Card_end_date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCard.Type_of_card__c</assignToReference>
            <field>Type_of_card__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Current_Card</startElementReference>
    <variables>
        <name>varCard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Plastic_card__c</objectType>
    </variables>
    <variables>
        <name>varCardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNewCard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
